apiVersion: v1
kind: Secret
metadata:
  name: inventory-db-credentials
  namespace: orchestrator
stringData:
  DB_USER: fake_inventory_user
  DB_PASS: fake_password
  DB_NAME: fake_movies_db

---

apiVersion: v1
kind: Secret
metadata:
  name: billing-db-credentials
  namespace: orchestrator
stringData:
  DB_USER: fake_billing_user
  DB_PASS: fake_password
  DB_NAME: fake_billing_db

---

apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-credentials
  namespace: orchestrator
stringData:
  RABBITMQ_USER: fake_rabbit
  RABBITMQ_PASS: fake_password
  RABBITMQ_HOST: rabbitmq-svc
  RABBITMQ_PORT: "5672"
  RABBITMQ_QUEUE: billing-queue